<div class="container">
    <h1>About Us</h1>
    <p>Welcome to the best ever car rental services </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non explicabo ipsa asperiores debitis, veritatis corporis iure officia nesciunt expedita beatae neque inventore atque blanditiis, recusandae dignissimos maiores eveniet aliquid delectus.</p>
    <a href="/contact">Contact</a>
    <small>All rights reserved. Copyright &copy 2022</small>
</div>