<div class="container">
    <h2 class="center">Welcome</h2>
    <h2 class="center">Car Rental Services</h2>
    <h2 class="center">
     <a href="/displayLoginForm" class="btn btn-info"> Login with Email </a>
    </h2>
    <h5 class="center">
        <a href="/signup">Need an account</a>
    </h5>
</div>

<style>
    body{
        background: url('/image/cars.jpg') no-repeat center center fixed;
         -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        }
</style>