<div class="container">
   <div class="col-sm"></div>
   <div class="col-sm-4">
       <h3 class="green">Success!</h3>
       <p class="green">Thank you for your payment!</p>
       <p>Customer email: {{charge.receipt_email}}</p>
       <p>Amount: ${{budjet.total}}</p>
       <a href="/">Go to profile</a>
   </div>
   <div class="col-sm"></div>


</div>